# This file contains the environment variables that are required to send events to SAP Integration Suite, advanced event mesh. 
# Posting messages to the REST API of an event broker service
SIMULATE_BP_CREATED=true
SIMULATE_EVENTS_URL=https://mr-connection-d73fbvfvam3.messaging.solace.cloud:9443/sap/S4HANAOD/S4D/ce/sap/s4/beh/businesspartner/v1/BusinessPartner/Created/v1
SIMULATE_EVENTS_USERNAME=solace-cloud-client
SIMULATE_EVENTS_PASSWORD=nhop1ewuomo60jwbx6pr5aqnum
SIMULATE_BP_CREATED_CRON="*/30 * * * * *"
SIMULATE_BP_CREATED_REPEAT_LOOP=true